{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
    <ul style="text-align: right">
      <span style="color:red">{{ error }}</span>
      </ul>
    {% endfor %}
  {% endif %}
{% endmacro %}