<nav class="navbar navbar-default">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/navbar.css" />
        <div class="container">
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li class ='nav-li'><a class = "nav-button active" href="/">Home</a></li> -->
              <!--    <li class ='nav-li'><a class = "nav-button active" href="/about-pg1">About</a></li> -->
              {% if session.logged_in %}
              <li class ='nav-li'><a class = "nav-button active" href="/demo">Demo</a></li>
              <li class ='nav-li'><a class = "nav-button active" href="/logout">Logout</a></li>
              {% else %}
             <!-- <li class ='nav-li'><a class = "nav-button active" href="/register">Register</a></li> -->
              <li class ='nav-li'><a class = "nav-button active" href="/">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
