{% extends 'layout.html' %}

{% block body%}
<div class= "about-condition">
<link rel="stylesheet" type="text/css" media="screen" href="../static/styles/about.css" />

<div id="mySidenav">
        <a href="/about-pg1" id="about">About</a>
        <a href="/about-pg2" id="blog">Who We Are</a></li> 
        <a href="#" id="projects">Projects</a>
        <a href="#" id="contact">Contact</a>
</div>
<h2 class = "about-title">About Us</h2>
<div>
    <p class="content-about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet impedit itaque exercitationem adipisci saepe minima aspernatur animi porro eveniet, delectus velit distinctio, culpa, id deserunt molestiae excepturi officia voluptates.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus adipisci iusto sint saepe quam dolore magni nemo, enim amet accusantium harum blanditiis eos, placeat nobis consequatur dignissimos reprehenderit quos ab?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti adipisci possimus sunt praesentium odio autem. Rerum, dolores voluptates maxime, suscipit, quia in necessitatibus voluptate corporis quod explicabo reiciendis illum atque?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt consectetur ea nam dolorem dolore, natus officiis laboriosam odit. Unde inventore expedita aliquid dignissimos rem porro voluptatibus sed blanditiis deleniti tempore?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt blanditiis praesentium voluptates, voluptas animi quo natus pariatur corporis ipsum officia cupiditate saepe, maxime excepturi provident vel possimus ut sequi ab!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam modi pariatur tenetur accusamus. Ratione recusandae libero suscipit accusamus odio. Perferendis minus molestiae mollitia earum ratione animi. Quaerat, quidem. Repellat.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laborum ducimus repellat voluptates tempore animi accusamus numquam quaerat aperiam. Dolorem, distinctio recusandae quae minus nulla vitae possimus. Quam, dolorem temporibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nemo, molestias ad magnam, commodi beatae odio reprehenderit tempore, explicabo quisquam suscipit unde dolore. Placeat vel ea rerum sapiente eaque quidem!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia inventore molestias, dolore consectetur repellat qui aliquam maiores voluptate doloremque blanditiis, tempore alias nihil! Possimus nobis cumque quia animi ad consectetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero voluptas, ad dolore quibusdam quae, et sapiente rem fuga porro neque nam consequuntur adipisci nihil totam quis sunt asperiores atque.
    </p>
</div>
</div>
{% endblock %}