{% extends 'layout.html' %}

{% block body%}
<div class= "about-condition">
<link rel="stylesheet" type="text/css" media="screen" href="../static/styles/about.css" />

<div id="mySidenav">
        <a href="/about-pg1" id="about">About</a>
        <a href="/about-pg2" id="blog">Who We Are</a></li> 
        <a href="#" id="projects">Projects</a>
        <a href="#" id="contact">Contact</a>
</div>
<h2 class = "about-title">Who We Are</h2>
<div class = "rows">
       <img class = "img" src = "../static/pictures/kyle.png" alt = "mate-pic" width="20%" height="auto">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non rerum vel cum culpa, inventore nobis ad perspiciatis eos, esse numquam eligendi nihil ab nisi temporibus earum animi, tempora tenetur.
</div>
<div class = "rows">
        <img class = "img" src = "../static/pictures/hao.png" alt = "mate-pic" width="20%" height="auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non rerum vel cum culpa, inventore nobis ad perspiciatis eos, esse numquam eligendi nihil ab nisi temporibus earum animi, tempora tenetur.
 </div>
 <div class = "rows">
        <img class = "img" src = "../static/pictures/Sepehr.png" alt = "mate-pic" width="20%" height="auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non rerum vel cum culpa, inventore nobis ad perspiciatis eos, esse numquam eligendi nihil ab nisi temporibus earum animi, tempora tenetur.
 </div>
 <div class = "rows">
        <img class = "img" src = "../static/pictures/Fisher.png" alt = "mate-pic" width="20%" height="auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non rerum vel cum culpa, inventore nobis ad perspiciatis eos, esse numquam eligendi nihil ab nisi temporibus earum animi, tempora tenetur.
 </div>
</div>
{% endblock %}