<html>
	<head>
		{% if title %}
		<title>{{ title }} Liscena Demo </title>
		<link href = {{ url_for('static',filename = 'styles/main1.css') }} rel="stylesheet" type="text/css" />
		{% else %}
		<title>Welcome to Liscena</title>
		<link href = {{ url_for('static',filename = 'styles/main1.css') }} rel="stylesheet" type="text/css" />
		{% endif %}
	</head>
    <header>
		<div>
        		<h1 class= "logo"><img src={{url_for('static',filename = 'pictures/Liscena_white.png')}} width = "20%",height = "20%"></h1><br>
        		<a  class = "hyperlink_Home" href="https://www.liscena.com/">Home</a>
		</div>
    </header><br>
    <body background={{url_for('static',filename = 'pictures/Background.png')}}>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<hr>
		<ul>
        		{% for message in messages %}
            	<li> {{ message }} </li>
            	{% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
