<!DOCTYPE html>
<!--
<html>
<title>Liscena</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style> --!>
{% extends "layout.html" %}
{% block body %}
<link href = {{ url_for('static',filename = 'styles/main1.css') }} rel="stylesheet" type="text/css" />
<!-- Navbar -->
<!--div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    < a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <img src="{{ url_for('static', filename='logo.png') }}" height="50" align="right" class="w3-right-align w3-left-align">
  </div-->

  <!-- Navbar on small screens -->
  <!--
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  </div>
</div>
  -->
<!-- Header -->
<!-- First Grid -->
<div class="w3-row-padding-w3-padding-64-w3-container" ><font color="white" size="5">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="demo-title">Demo</h1>
      <h5 class="w3-padding-32">Front facing photos of vehicles.<br />
                                License plate visible.<br />
                                .jpg file format only.</h5>
      <form class="demo-form" action="demo" method="post" enctype="multipart/form-data" size = "5">
        <input type="file" name="file"><br /><br />
        <input class="w3-btn w3-blue" type="submit" value="upload">
      </form>
      <!--
     {% if pred %}<p class="w3-text-black w3-xlarge">{{ pred }}{% endif %}
     {% if angle %}<p class="w3-text-black w3-xlarge">viewing angle is {{ angle }}{% endif %}
     {% if openlpr_resp %}<p class="w3-text-black">{{ openlpr_resp }}{% endif %}
      -->
     <div class="row">
        <p>
        {% if image_path %}
        <h1 class="img-analysis">Image analysis</h1>                                                     
        <div class="column">
             <img src="{{ url_for('static', filename=image_path) }}" width="80%">
            {% endif %}
            {% if heatmap_img_url %}                                                                                           
        <div class="crop">
            <img src="{{ heatmap_img_url }}" width="80%">
        </div> 
            <img src="{{ url_for('static',filename= 'pictures/faker.png') }}" width="80%">
            {% endif %}
        </div>
        {% if heatmap_img_url %}
        <div class="column">                     
             <ul class="Fake-state">
                 <li>Make: BMW </li>
                 <li>Model: 2 series convertible </li>
                 <li>Viewing angle is: Front-left </li>
             </ul>
        </p>
        </div> 
        {% endif  %}
    </div>
    <!--    {% if image_path %}<img src="{{ url_for('static', filename=image_path) }}" width="100%">{% endif %}-->
    <!-- {% if heatmap_img_url %}<img src="{{ heatmap_img_url }}" width="100%">{% endif %}-->

     {% if wrong_file_warn %}<p class="w3-text-red">{{ wrong_file_warn}}{% endif %}
    </div>
  </div>
  </font>
{% if heatmap_img_url %}
<h1 class="diag">The repair diagnosis</h1><br>
    <img src={{ url_for('static',filename='pictures/diag2.png')}} class="diag-img" >
{% endif  %}
</div>
    <script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
{% endblock %}
<!--/html--!>

