<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Liscena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
</head>
<body>
    <img src="../static/pictures/Liscena_white.png" class = 'Liscena-logo' alt = 'Liscena Logo'>
    {% include 'includes/_navbar.html' %}
    <div class="container">
    {% include 'includes/_messages.html' %}
    </div>
    {% block body %}{% endblock %}
    <div class = "Awards-wrapper">
        <p>
        <img src="../static/pictures/Epic BMC Award Icon.png" class = "Award" alt = 'Epic BMC'>
        <img src="../static/pictures/NBTC Award Icon.png" class = "Award" alt = 'NBTC'>
        </p>
    </div>
    
</body>
</html>
