{% extends 'layout.html' %}

{% block body %}
     <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/forms.css" />
     <div class = "register-form">
     <h1 class = "register-title" style = "margin-right:1% ">Login</h1>
     <form action = "" method= "POST">
         <div class="form-group">
             <label>Username</label>
             <input type = "text" name = "username" class = "form-control" value = {{request.form.username}}>
         </div>

         <div class="form-group">
                <label>Password</label>
                <input type = "password" name = "password" class = "form-control" value = {{request.form.password}}>
            </div>
        <button type = "submit" class="button" style ="margin-right: 15%">Submit</button>
        </form>
    </div>
{% endblock %}