{% extends 'layout.html' %}

{% block body%}
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/forms.css" />
    <div class="register-form">
    <h1 class = "register-title"> Register</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
            <div class="form-group">
              {{render_field(form.name, class_="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.email, class_="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.username, class_="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.password, class_="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.confirm, class_="form-control")}}
            </div>
            <p>
                <div id="wrapper">
                {{ form.remember_me() }}
                <a href="javascript:void(0)" onclick="toggle_visibility('popup-box');">Terms and Condition</a><br>
                </div>
                <p class="submit-button"><input type="submit" class = "button" value="Submit">
            
                </p>
            </p>    
          </form>
</div>


<div id="popup-box" class="popup-position">
    <div id="popup-wrapper">
        <div id="popup-container">
                <p><h2 class="terms-title">Terms and Conditions</h2></p>
                <ol class="content-terms">
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellendus mollitia dicta accusamus exercitationem ullam vel ab omnis! Ullam ipsum quis fugit quas quos necessitatibus asperiores eos, aliquid dignissimos quaerat!</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis blanditiis dignissimos explicabo a labore, consequuntur quia aliquid adipisci sint accusantium alias aliquam esse veritatis nemo, nihil, odio corrupti laudantium provident.</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, delectus cumque! Corporis voluptatem error sed ad repellat, quibusdam cumque non quae pariatur repudiandae asperiores dolorem magnam facere numquam placeat. Possimus!</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae sint officiis odio consectetur repudiandae, debitis, nulla explicabo reiciendis maxime illum cupiditate illo. Architecto itaque voluptas libero dicta doloribus. Reiciendis.</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero natus molestias fuga assumenda nam mollitia, in veritatis eligendi similique neque voluptatem voluptates nobis quidem fugiat facere. Ducimus, exercitationem ratione?</li>
                    <li class="term-li">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, est reprehenderit. Animi omnis, at consectetur odio incidunt est recusandae quas cum asperiores esse excepturi beatae quidem blanditiis tempore eveniet nostrum!</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus modi blanditiis possimus delectus corrupti. Numquam quod in, placeat esse fugiat consequatur, alias nihil assumenda ea commodi, a corporis voluptatum qui.</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illum a optio, doloremque aliquam ab veritatis perspiciatis aliquid ratione, fuga in sit! Nostrum culpa laborum laboriosam id sed corrupti? Hic?</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae. Ea dolores, ab nam assumenda ducimus accusantium quia modi ipsam quod. Minus consectetur autem ducimus omnis ea dolores enim expedita!</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto recusandae possimus quisquam quod aut perferendis illo repellat in error veniam maiores, voluptatem id saepe rem! Molestiae deserunt laborum assumenda doloremque.</li>
                    <li class="term-li">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quidem distinctio inventore ab fuga et aperiam labore voluptates tenetur, nihil quo tempora ratione dolorum eveniet dicta. Nisi quasi sit commodi?</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repellendus reiciendis quis nam harum debitis nulla, nesciunt, tempore dicta similique ipsum impedit magni corrupti. Doloremque dignissimos esse expedita enim ipsam?</li>
                    <li class="term-li">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis id atque a itaque! Similique porro laudantium magnam esse et provident itaque excepturi harum voluptatibus, praesentium alias fuga? Nostrum, sequi molestiae!</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quidem atque iure fugit itaque, eos quos aliquam, enim, esse quasi animi. Natus asperiores aliquid aliquam culpa quos. Recusandae, dolores explicabo.</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, dolor impedit. Dicta, tempora sunt! Accusamus dignissimos ipsam aperiam facilis expedita fugit provident eius illo. Eius unde ratione adipisci molestiae incidunt?</li>
                    <li class="term-li">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nesciunt at, quas ad delectus iure quam eum provident, fugit vero alias earum qui dicta perspiciatis quasi excepturi eaque reiciendis architecto.</li>
                    <li class="term-li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloremque maiores ut illum. Nam, quia obcaecati odit similique labore culpa quis ipsam quod? Aut omnis nisi est veniam aliquam asperiores?</li>
                    <br>
                    <br>
                    <br>
                    © 2018 by Liscena Inc.
                    <p style= "text-align: center;"><a class = "button"  href="javascript:void(0)" onclick="toggle_visibility('popup-box');">Close</a></p> 
                </ol>
        </div>
    </div>
</div>


<script type="text/javascript">
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
</script>
{% endblock %}