.about-condition {
    padding: 25px;
    margin: auto;
    width:60%;
    background-color: rgba(252, 252, 252,0.7);
}
.about-title{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}
.content-about{
    color: #474747;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8;
}

/* Style the links inside the sidenav */
#mySidenav a {
    margin-top: 20%;
    position: fixed; /* Position them relative to the browser window */
    right: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

#mySidenav a:active {
    right: 0;
    background-color: #f7f7f7;
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: #4286f4;
    text-align: right;
    color:#ffffff;
}

#blog {
    top: 80px;
    background-color: #71a4f7; /* Blue */
    text-align: right;
    color:#d3d3d3;
}

#projects {
    top: 140px;
    background-color: #9bc1ff; /* Red */
    text-align: right;
    color:#afafaf;
}

#contact {
    top: 200px;
    background-color: #cee0ff ;/* Light Black */
    text-align: right;
    color:#777777;
}


.rows {
    border: 3px solid silver;
    padding: 20px;
    overflow: auto;
    margin-bottom: 8%;
    border-style: outset;
    font-size: 20px;
}
.img {
    float: left;
    padding-right: 3%;
}