.register-title{
    padding-top: 4%;
    text-align: right;
    padding-right:2%;
}
.register-form {
    text-align: right;
    padding-right: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgba(252, 252, 252,0.9);
    margin-left: -0.3%;
    margin-right: -0.3%;
    height:30%;
}
form {
    display: inline-block;
}
.check-box{
    text-align: right;
}
.submit-button{
    text-align: center;
    padding-left:45%;
}

.button{
    background-color: #4286f4;
    border: 2px;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

.popup-position{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0,0.7);
    width: 100%;
    height:100%;
    display: none;
}
#popup-wrapper{
    width: 550px;
    height: 300px;
    margin:50px auto;
    margin-top: 17.5%;
    text-align: left;
    overflow:auto;
}
#popup-container{
    background-color: rgba(252, 252, 252,0.9);
    padding: 20px 20px 20px 20px;
}

.terms-title{
    text-align: center;
    font-weight: bold;
}
.content-terms{
    color: #474747;
}
.term-li{
    margin: 10px 0;
}