*{
    box-sizing:border-box;
}
input[type=submit]{
    width: 7em;
    height: 2em;
}
input[type=file]{
    width:auto;
    height:2em;
}
.column{
    float:left;
    width:50%;
    padding:10px;
}
.row{
    content:"";
    clear:both;
    display:table;
}
.need-upload{
    font-size:12px;
    font-color:black;
    font-weight:bold;
}
.demo-title {
    color:#444;
}
.diag{ 
    text-align:center;
    color:#444;
}
.img-analysis{
     text-align:center;
     color:#444;
}
.diag-img{
    padding-top:5%;
    padding-left:10%;
    text-align:center;
    width:90%;
    display:block;
}
.diag-section{
  background:rgba(250,250,250,0.8);
  margin = -70% -70% -70% -70%;
}
.Fake-state{
    text-align: center;
    font-family: "Helvetica";
    color:#444;
    padding-top:45%;
    font-size: 50px;
    list-style-type: none;
    display: inline-block;
}
.w3-padding-32 {
    color:#444;
}

.logo{
    text-align: left;
}
.crop img{
    clip: rect(50px, 50px, 50px, 50px);
}

.title_login{
    text-align: center;
    font-family: "Helvetica";
    color:white;
}
.loginform{
    text-align: center;
    vertical-align: middle;
   }

.username{
    color: white;
    font-family: "Helvetica";
}

.password{
    color: white;
    font-family: "Helvetica";
}

.remember_me{
    color: white;
    font-family: "Helvetica";
}

.submit{
    color: white;
    font-family: "Helvetica";
}
.demo-form{
    width: 550px;
    height: 450px;
    margin: auto;
    position: top;
    font-size:18px;
}
.w3-row-padding-w3-padding-64-w3-container{
    text-align:center;
    background:rgba(250,250,250,0.8);
    color:#444;
    margin:-20px -20px -20px -20px;
    font-family:"Helvetica";
    font-weight: normal;
}
