.Liscena-logo {
    padding-left: 20%;
    padding-top: 6%;
    position: absolute;
    width: 20%;
    height: auto;
}
body{
    background-image: url("../pictures/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.alert{
    background-color: #4286f4;
    opacity: 0.7;
    font-weight: bold;
    text-align: center;
}

.alert-danger{
    border-bottom: 6px solid red;
}
.alert-success{
    border-bottom: 6px solid green;
}
.Award{
    padding: auto;
    display: table;
    width: 10%;
    position: relative;
    float: right;
    padding:2%;
}
.Awards-wrapper{
    margin-right: 10%;
    bottom: 0;
}