.nav{
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding-top: 12%;
    padding-right: 15%;
    padding-bottom: 3%;
    widows: 12%;
    height: auto;
}
.nav-li {
    display: inline;
}
a:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    color:darkblue;
}

a:active {
    background-color: #4d7fd1;
    right: 0;
}


.nav-button{
    padding-right: 3%;
    padding-left: 3%;
    font-family: "Helvetica";
    font-size: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}